body {
    background-color: black;
    /*padding moves the text off the left side*/
    padding: 0;
    margin: 0;
    color: yellow;
}
p {
    font-size: 20px;
}

h2 {
    font-size: 75px;
}
h5 {
    color: black;
    text-align: center;
}
/*from here down takes care of the header and the nav bar*/
/*adding color to h1 and aligning the test to the center of the header*/
.top-of-page h1{
    color: yellow;
    text-align: center;
}

.top-of-page nav {
    width: 100vw;
}
/**/
.top-of-page ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/**/
.top-of-page li {
    list-style-type: none;
    height: 85px;
    width: 120px;
    overflow: hidden;
}
/**/
.top-of-page li>span{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
/*color is for the little icons*/
.top-of-page li>span:nth-child(1){
    color: yellow;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 35px;
}
/*color is for the box that comes up*/
.top-of-page li>span:nth-child(2){
    background-color: yellow;
    color: whitesmoke;
}
/**/
.top-of-page li:hover span {
    transform: translateY(-100%);
}
/*color is for test inside the box*/
.top-of-page a{
    color: black;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    font-size: 18px;
}
/*from here up takes care of header and nav bar*/

/*from here down takes care of the home section*/

.home-section h2 {
    text-align: center;
    padding-bottom: 30px;
}
.home-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid yellow;
    border-style: outset;
}
.home-section h3 {
    text-decoration: solid;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: yellow;
    font-size: 30px;
}
.home-section p {
    text-align: center;
}
.home-section li {
    text-align: center;
    padding-bottom: 50px
}
/*from here up takes care of the first 1st*/
.aboutme {
    display: flex;
}
.div-image {
    padding-left: 50px;
    display: inline-block
}

.div-h2 h2{
    padding-left: 20px;
    text-decoration: underline;
}
.div-h3 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    /*flex: 1 1 40px;*//*this is casuing the about me box to stretch to the right*/
    margin-left: 2rem;
    display: inline-block;
}
.div-image img {
    border-style: double;
    padding-left: 0;
    height: 330px;
    width: 225px;
}
.who {
    flex: auto;
    padding-left: 60px;
    width: 150px;
    padding-right: 60px;
}
.who-am {
    text-align: center;
}
.who p {
    text-align: center;
    display: inline-block;
}

.work-header {
    padding-left: 20px;
    text-decoration: underline;
}




.home-section2 h2 {
    padding-left: 20px;
    text-decoration: underline;
}
.second-word {
    color: whitesmoke;
}
.home-section2 img {
    border-style: double;
    padding-left: 0;
    height: 330px;
    width: 225px;
}
.home-section2 div{
    display: inline-block;
}
.home-section2 h3 {
    display: inline-block;
}
.headshot{
    height: 330px;
    width: 225px;
    border-radius: 200px 200px;
}

#headshot2{
    height: 700px;
    width: 500px;
    border-radius: 50px 50px;
}
section{
    text-decoration-color: yellow;
}
/*here down starts the work boxes that will showcase my previous work*/
.main-work-box {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 175px auto;
}

.main-work-box .main-box {
    position: relative;
    width: calc(600px - 30px);
    height: calc(400px - 30px);
    background: yellow;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.work-boxes {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 175px auto;
}

.work-boxes .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: yellow;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.minibox-img {
    height: 400px;
    width: 600px;
}

.minibox-img2 {
    height: 300px;
    width: 400px;
}


/*from here down will take care of the contact me section*/

.contactinfo1 {
    display: inline-block;
    padding-left: 10px;
    width: 400px;
}
.contactinfo1 h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}
.contactinfo1 p {
    text-align: center;
    font-size: 30px;
}

.contactinfo2 {
    display: inline-block;
    width: 400px;
}
.contactinfo2 h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}
.contactinfo2 p {
    text-align: center;
    font-size: 30px;
}

.contactinfo3 {
    display: inline-block;
    width: 400px;
}
.contactinfo3 h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}
.contactinfo3 p {
    text-align: center;
    font-size: 30px;
}

footer {
    height: 500px;
}

@media 