body {
    background-color: black;
    /*padding moves the text off the left side*/
    padding: 10px;
    margin: 0;
    color: yellow;
}

/*from here down takes care of the header and the nav bar*/
/*adding color to h1 and aligning the test to the center of the header*/
.top-of-page h1{
    color: yellow;
    text-align: center;
}

.top-of-page nav {
    width: 100vw;
}
/**/
.top-of-page ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/**/
.top-of-page li {
    list-style-type: none;
    height: 85px;
    width: 120px;
    overflow: hidden;
}
/**/
.top-of-page li>span{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
/*color is for the little icons*/
.top-of-page li>span:nth-child(1){
    color: yellow;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 35px;
}
/*color is for the box that comes up*/
.top-of-page li>span:nth-child(2){
    background-color: yellow;
    color: whitesmoke;
}
/**/
.top-of-page li:hover span {
    transform: translateY(-100%);
}
/*color is for test inside the box*/
.top-of-page a{
    color: black;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    font-size: 18px;
}
/*from here up takes care of header and nav bar*/

/*from here down takes care of the home section*/

.home-section h2 {
    text-align: center;
    padding-bottom: 50px;
}
.home-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid yellow;
    border-style: outset;
}
.home-section h3 {
    text-decoration: solid;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-size: 30px;
}
.home-section p {
    text-align: center;
}
.home-section li {
    text-align: center;
    padding-bottom: 50px
}
/*from here up takes care of the first 1st*/

.home-section2 h2 {
    padding-left: 20px;
    text-decoration: underline;
}
.home-section2 img {
    padding-left: 25px;
    height: 330px;
    width: 225px;
    border-radius: 50px 50px;
}
.headshot{
    height: 330px;
    width: 225px;
    border-radius: 200px 200px;
}

#headshot2{
    height: 700px;
    width: 500px;
    border-radius: 50px 50px;
}
section{
    text-decoration-color: yellow;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.justify-center {
    justify-content: center;
}

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;    
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--heliotrope);
    outline: 2px dashed var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;    
}

.code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--heliotrope);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;    
}

.test-image {
    float: right;
    padding: 150px;
}
/*
.heading {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}
.heading h1 {
    color: yellow;
    display: inline-block;
}
.heading nav {
    padding-top: 50px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    float: right;
}
.heading nav a {
    text-decoration: none;
    margin-left: 50px;

}
.headshot {
    width: 150px;
    height: 200px;
    border-radius: 75px;
}