body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
}
h1{
    color: yellow;
}
nav {
    width: 100vw;
}
ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    list-style-type: none;
    height: 85px;
    width: 120px;
    overflow: hidden;
}
li>span{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
li>span:nth-child(1){
    color: yellow;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 35px;
}
li>span:nth-child(2){
    background-color: yellow;
    color: whitesmoke;
}
li:hover span {
    transform: translateY(-100%);
}
a{
    color: black;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    font-size: 18px;
}


/*
.heading {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}
.heading h1 {
    color: yellow;
    display: inline-block;
}
.heading nav {
    padding-top: 50px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    float: right;
}
.heading nav a {
    text-decoration: none;
    margin-left: 50px;

}
.headshot {
    width: 150px;
    height: 200px;
    border-radius: 75px;
}