body {
    margin: 0;
}
nav {
    color: red;
}
.heading {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}
.heading h1 {
    color: yellow;
    display: inline-block;
}
.heading nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    float: right;
}
